.main-page-container{
    margin: 0;
    padding: 0;
}

.header{
    margin: 0;
}

.card-container{
    background-color: rgb(173, 187, 106);   
    padding: 1rem;
}

.task-list{
    text-align: center;
}

/* Заголовок */
.title-task-list{
    font-size: 2rem;
}

/* Лист с задачами */
.list{
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.list-item{
    text-decoration: none;
    padding: 1rem;
    margin: 0 auto 0.5rem auto;
    border: 0.1rem solid black;
    background-color: beige;
    border-radius: 0.5rem;
    width: 20rem;    
}

.title-item{
    font-size: 2rem;
}

/* вывод статуса */
.completed {
    color: green;
}
.in-progress{
    color: rgb(212, 179, 14);
}
.not-started{
    color:red;
}


/* стили кнопок */
.container-btn{
    margin: 0.4rem;

}

.btn-switch-to-ns{
    background-color: red;
    margin: 0.5rem;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    border: 0.15rem solid rgb(169, 3, 3);
}

.btn-switch-to-completed{
    background-color: rgb(4, 172, 27);
    margin: 0.5rem;
    padding: 0.6rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    border: 0.15rem solid rgb(4, 172, 71);
}

/* панель с фильтрами */
.filters-panel{
    background-color: aquamarine;
    text-align: center;
}

.filter-title{
    margin-top: 0;
}

.filter-buttons{
    margin-bottom: 0.4rem;
}

.active-filter-info{
    padding-bottom: 0.5rem;
}

.filter-btn{
    margin: 0.3rem;
    padding: 0.5rem;
    border: 0.2rem solid rgb(9, 81, 236);
    border-radius: 0.5rem;
    background-color: rgb(122, 122, 234);
    transition: all 0.3s ease;
    cursor: pointer;
}

.filter-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}

.active{
    background-color: rgb(35, 85, 193);
}


/* кнопка изменения статуса у карточек */

.btn-change-status{
    padding: 0.2rem;
    border: 0.1rem solid rgb(255, 196, 47);
    border-radius: 0.3rem;
    background-color: gold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-change-status:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}