/* сам контейнер */

.progress-header{
    text-align: center;
    background-color: rgb(127, 197, 255);
    padding: 1rem;

}


/* Прогресс бар */
.progress-bar-out{
    height: 15px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
}

.progress-bar-fill{
    background-color: rgb(48, 170, 48);
    height: 100%;
    overflow: hidden;
}

/* Обычная статистика */
.stat-item{
    display: inline-block;
    margin: 0 1rem;
    border: 1px solid wheat;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: aliceblue;
    
}

.stat-grid{
    text-align: center;
}